@page
@model ComeAndTicketWebUi.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Show Times</h1>

<form asp-page="./Details" method="get">
    <div class="form-actions no-color">
        <p>
            Find by theater:
            <input type="hidden" name="Id" value="@Model.Movie.Title" />
            <select name="MarketFilter">
                <option value="all-movies">All</option>
                @foreach (var market in Model.Markets)
                {
                    <option value="@market" selected="@(Model.MarketFilter.Equals(market))">@market</option>
                }
            </select>
            <input type="submit" value="Search" class="btn btn-primary" />
        </p>
    </div>
</form>

<div class="container">
    <h4>@Model.Movie.Title</h4>
    <hr />
    <div class="panel-group" id="accordion">
        @{int i = 0;}
        @foreach (var showTimeGroup in Model.FilteredShowTimes.GroupBy(s => s.Theater.Name))
        {
            @if (!showTimeGroup.Any())
            {
                continue;
            }
            string theaterIx = string.Format("theater-{0}", i);
            i++;
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" href="#@theaterIx">@showTimeGroup.Key</a>
                    </h5>
                </div>
            </div>

            <div id="@theaterIx" class="panel-collapse collapse" data-parent="#accordion">
                <table class="table table-striped">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Movie.ShowTimes.First().Date)</th>
                        <th>@Html.DisplayNameFor(model => model.Movie.ShowTimes.First().SeatsLeft)</th>
                        <th>@Html.DisplayNameFor(model => model.Movie.ShowTimes.First().TicketsUrl)</th>
                        <th>@Html.DisplayNameFor(model => model.Movie.ShowTimes.First().LastUpdated)</th>
                    </tr>
                    @foreach (var showTime in showTimeGroup.OrderBy(st => st.Date))
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => showTime.Date)</td>
                            <td>@Html.DisplayFor(model => showTime.SeatsLeft)</td>
                            <td><a href="@Html.DisplayFor(model => showTime.TicketsUrl)">Buy</a></td>
                            <td>@showTime.LastUpdated.ToLocalTime().ToString()</td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
